/* .header {
  height: 17vh;
  width: 100%;
  background-color: #14599a; 
  border-bottom: 3px solid #0b4e8c;
} */

.real-reviews-real-gamers {
  position: relative;
  right: 20%;
  top: 3.5vh;
  color: black;
  text-decoration: none;
}

.pill {
  height: 13px;
  font-size: x-small;
}

.gamepad {
  position: relative;
  right: 105%;
  bottom: 42%;
  max-width: 100%;
  height: auto;
}

.justify-content-end {
  background-color: #14599a;
  height: 18vh;
  width: 100;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.20);
}

.nav-item {
  height: 100px;
}

.text {
  color: #f2f2f2;
}

.text:hover {
  color: #70b7fa;
}

.profile {
 margin-top: 35%;
}

.about {
  margin-top: 35%;
}

.logout {
  margin-top: 32%;
}