.votes-counter {
  position: absolute;
  left: 27%;
  top: 26%;
  height: 120px;
  width: 43px;
}

.up-arrow {
  color: black;
}

.down-arrow {
  color: black;
  z-index: 2;
}

.count {
  margin-top: 10px;
}